<div class="d-flex justify-content-center">
  <div class="col-8">
    <div *ngIf="producto">
      <h2 data-cy="productoDetailsHeading"><span jhiTranslate="proyectoApp.producto.detail.title">Producto</span></h2>

      <hr />

      <jhi-alert-error></jhi-alert-error>

      <jhi-alert></jhi-alert>

      <dl class="row-md jh-entity-details">
        <dt><span jhiTranslate="global.field.id">ID</span></dt>
        <dd>
          <span>{{ producto.id }}</span>
        </dd>
        <dt><span jhiTranslate="proyectoApp.producto.nombre">Nombre</span></dt>
        <dd>
          <span>{{ producto.nombre }}</span>
        </dd>
        <dt><span jhiTranslate="proyectoApp.producto.precio">Precio</span></dt>
        <dd>
          <span>{{ producto.precio }}</span>
        </dd>
        <dt><span jhiTranslate="proyectoApp.producto.imagen">Imagen</span></dt>
        <dd>
          <span>{{ producto.imagen }}</span>
        </dd>
        <dt><span jhiTranslate="proyectoApp.producto.ingredientes">Ingredientes</span></dt>
        <dd>
          <span>{{ producto.ingredientes }}</span>
        </dd>
      </dl>

      <button type="submit" (click)="previousState()" class="btn btn-info" data-cy="entityDetailsBackButton">
        <fa-icon icon="arrow-left"></fa-icon>&nbsp;<span jhiTranslate="entity.action.back">Volver</span>
      </button>

      <button type="button" [routerLink]="['/producto', producto.id, 'edit']" class="btn btn-primary">
        <fa-icon icon="pencil-alt"></fa-icon>&nbsp;<span jhiTranslate="entity.action.edit">Editar</span>
      </button>
    </div>
  </div>
</div>
