<div>
  <h2 id="page-heading" data-cy="CategoriaHeading">
    <span jhiTranslate="proyectoApp.categoria.home.title">Categorias</span>

    <div class="d-flex justify-content-end">
      <button class="btn btn-info me-2" (click)="load()" [disabled]="isLoading">
        <fa-icon icon="sync" [spin]="isLoading"></fa-icon>
        <span jhiTranslate="proyectoApp.categoria.home.refreshListLabel">Refrescar lista</span>
      </button>

      <button
        id="jh-create-entity"
        data-cy="entityCreateButton"
        class="btn btn-primary jh-create-entity create-categoria"
        [routerLink]="['/categoria/new']"
        *jhiHasAnyAuthority="'ROLE_ADMIN'"
      >
        <fa-icon icon="plus"></fa-icon>
        <span jhiTranslate="proyectoApp.categoria.home.createLabel">Crear nuevo Categoria</span>
      </button>
    </div>
  </h2>

  <jhi-alert-error></jhi-alert-error>

  <jhi-alert></jhi-alert>

  <div class="alert alert-warning" id="no-result" *ngIf="categorias?.length === 0">
    <span jhiTranslate="proyectoApp.categoria.home.notFound">Ningún Categorias encontrado</span>
  </div>

  <div ngbAccordion>
    <div *ngFor="let categoria of categorias; trackBy: trackId" ngbAccordionItem [collapsed]="true">
      <h2 ngbAccordionHeader>
        <button (click)="clickCategoria(categoria)" ngbAccordionButton>{{ categoria.nombre }}</button>
      </h2>
      <a
        *jhiHasAnyAuthority="'ROLE_ADMIN'"
        [routerLink]="['/categoria', categoria.id, 'edit']"
        class="btn btn-primary btn-sm"
        data-cy="entityEditButton"
      >
        <fa-icon icon="pencil-alt"></fa-icon>
        <span class="d-none d-md-inline" jhiTranslate="entity.action.edit">Editar</span>
      </a>
      <button
        *jhiHasAnyAuthority="'ROLE_ADMIN'"
        type="submit"
        (click)="delete(categoria)"
        class="btn btn-danger btn-sm"
        data-cy="entityDeleteButton"
      >
        <fa-icon icon="times"></fa-icon>
        <span class="d-none d-md-inline" jhiTranslate="entity.action.delete">Eliminar</span>
      </button>
      <div ngbAccordionCollapse>
        <div ngbAccordionBody>
          <ng-template>
            <div *ngFor="let producto of categoria.productos" class="table table-striped grid gap-0 column-gap-3">
              <a [routerLink]="['/producto', producto.id, 'view']" class="linkCate btn btn-link" data-cy="entityDetailsButton">
                <span class="d-none d-md-inline">{{ producto.nombre }}</span>
              </a>
            </div>
          </ng-template>
        </div>
      </div>
    </div>
  </div>

  <div *ngIf="categorias && categorias.length > 0">
    <div class="d-flex justify-content-center">
      <jhi-item-count [params]="{ page: page, totalItems: totalItems, itemsPerPage: itemsPerPage }"></jhi-item-count>
    </div>

    <div class="d-flex justify-content-center">
      <ngb-pagination
        [collectionSize]="totalItems"
        [page]="page"
        [pageSize]="itemsPerPage"
        [maxSize]="5"
        [rotate]="true"
        [boundaryLinks]="true"
        (pageChange)="navigateToPage($event)"
      ></ngb-pagination>
    </div>
  </div>
</div>
